
Content/Medieval_Environment/
Content/InfinityBladeEffects

# Visual Studio 2015 user specific files
.vs/

Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace